css

body {
  background-color: #d4d0d0;
  font-family: Arial, sans-serif;
  color: #333;
}
header {
  background-color: #d10000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
section {
  margin: 20px 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}
h2 {
  color: #4caf50;
  text-align: center;
}
p {
    margin: auto;
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: auto;
}
.email {
    margin-bottom: auto;
}
button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
}
footer {
    margin-top: auto;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    text-align: center;
}  
